PORT=5173
NODE_ENV=development

DOMAIN_NAME=localhost
APP_URL=https://nowsworld-server.vercel.app

ALLOWED_HOSTS="http://localhost:5173"

# ------------
# Project Info
# ------------

VITE_PROJECT_NAME=NowSWorld

VITE_APP_TITLE="NowSWorld - Stay in touch with the World"
VITE_APP_DESCRIPTION="A Social Media Platform to Stay in touch with the World"

# --------------
# Client Origins
# --------------

VITE_FRONTEND_URL=http://localhost:5173

# ------------
# API endpoint
# ------------

VITE_API_URL=/api

# ------------
# Fetch Limits
# ------------

VITE_USER_LIMIT=5
VITE_POST_LIMIT=10

# -----------
# Token Setup
# -----------

TOKEN_KEY=token

# ------------
# Contact Info
# ------------

VITE_GITHUB_URL=
VITE_LINKEDIN_URL=
VITE_WHATSAPP_URL=
VITE_CONTACT_EMAIL=

# ------------------
# Push Notifications
# ------------------

VITE_VAPID_PUBLIC_KEY=
