PORT=5173
NODE_ENV=development

DOMAIN_NAME=example.com
APP_URL=https://api.example.com

VITE_ALLOWED_HOSTS="example.com, www.example.com"

# ------------
# Project Info
# ------------

VITE_PROJECT_NAME=Example

VITE_APP_TITLE="Example - Description"
VITE_APP_DESCRIPTION="Project Description"

# --------------
# Client Origins
# --------------

VITE_FRONTEND_URL=https://example.com

# ------------
# API endpoint
# ------------

VITE_API_URL=https://api.example.com

# ------------
# Fetch Limits
# ------------

VITE_USER_LIMIT=
VITE_POST_LIMIT=


# ------------
# Contact Info
# ------------

VITE_GITHUB_URL=
VITE_LINKEDIN_URL=
VITE_WHATSAPP_URL=
VITE_CONTACT_EMAIL=

# ------------------
# Push Notifications
# ------------------

VITE_VAPID_PUBLIC_KEY=
