@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: system-ui, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply m-0 p-0 min-h-screen bg-white dark:bg-neutral-900 text-neutral-900 dark:text-neutral-100 text-[14px] sm:text-[16px];
  }

  h1 {
    @apply text-4xl font-bold leading-tight;
  }

  a {
    @apply font-medium text-indigo-500 no-underline;
  }
  a:hover {
    @apply text-indigo-400;
  }
}

@layer components {
}

@layer utilities {
}

@layer responsive {
}
